# Jetbrains shit
.idea/

# macOS shit
.DS_Store
**/.DS_Store

# CMake scheiße
cmake-build-debug/
cmake-build-release/
cmake-build-iwyu/
Testing/
**/Testing/

# Output directory
**/out/

# VS Code crap
.cache
/.vs
